aioredis==1.3.1
angles==1.9.13
asgiref==3.6.0
async-timeout==4.0.2
attrs==23.1.0
autobahn==23.1.2
Automat==22.10.0
backports.zoneinfo==0.2.1
bondpy==1.8.6
CacheControl==0.12.11
cachetools==5.3.0
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2023.5.7
cffi==1.15.1
channels==3.0.4
channels-redis==2.4.2
charset-normalizer==3.1.0
constantly==15.1.0
controller-manager==0.19.6
controller-manager-msgs==0.19.6
coreapi==2.3.3
coreschema==0.0.4
cryptography==40.0.2
cv-bridge==1.16.2
daphne==3.0.2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
Django==4.1.7
django-environ==0.9.0
django-extensions==3.2.1
djangorestframework==3.14.0
drf-yasg==1.21.5
dynamic-reconfigure==1.7.3
firebase-admin==6.1.0
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.1
google-auth-httplib2==0.1.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.1
google-cloud-storage==2.9.0
google-crc32c==1.5.0
google-resumable-media==2.5.0
googleapis-common-protos==1.59.0
grpcio==1.54.2
grpcio-status==1.54.2
hiredis==2.2.3
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
image-geometry==1.16.2
incremental==22.10.0
inflection==0.5.1
interactive-markers==1.12.0
itypes==1.2.0
Jinja2==3.1.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
laser-geometry==1.6.7
MarkupSafe==2.1.2
message-filters==1.15.15
msgpack==0.6.2
oauthlib==3.2.2
packaging==23.1
Pillow==9.5.0
proto-plus==1.22.2
protobuf==4.23.1
psycopg2-binary==2.9.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
PyJWT==2.7.0
pyOpenSSL==23.1.1
pyparsing==3.0.9
python-qt-binding==0.4.4
pytz==2022.7.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
requests==2.30.0
requests-oauthlib==1.3.1
resource-retriever==1.12.7
rosbag==1.15.15
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.15.15
roslaunch==1.15.15
roslib==1.15.8
roslint==0.12.0
roslz4==1.15.15
rosmake==1.15.8
rosmaster==1.15.15
rosmsg==1.15.15
rosnode==1.15.15
rosparam==1.15.15
rospy==1.15.15
rosservice==1.15.15
rostest==1.15.15
rostopic==1.15.15
rosunit==1.15.8
roswtf==1.15.15
rqt-action==0.4.9
rqt-bag==0.5.1
rqt-bag-plugins==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui==0.5.3
rqt-gui-py==0.5.3
rqt-image-view==0.4.16
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.3
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rsa==4.9
ruamel.yaml==0.17.26
ruamel.yaml.clib==0.2.7
rviz==1.14.19
sensor-msgs==1.13.1
service-identity==21.1.0
six==1.16.0
smach==2.5.0
smach-ros==2.5.0
smclib==1.8.6
sqlparse==0.4.3
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.6
tf2-kdl==0.7.6
tf2-py==0.7.6
tf2-ros==0.7.6
topic-tools==1.15.15
Twisted==22.10.0
txaio==23.1.1
typing-extensions==4.5.0
uritemplate==4.1.1
urllib3==1.26.15
xacro==1.14.14
zope.interface==6.0
